html {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 4 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  background-color: #FFFFAA;
}

.dropdown-menu
{
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

#menu-wrapper
{
  background-color: #222222;
  color: white;
  margin-bottom: 17px;
}

#menu-wrapper .menu-heading
{
  padding: 0.875rem 1.25rem;
}

#menu-wrapper .list-group-item
{
  background-color: #222222;
  color: white;
  margin-bottom: 0px;
}

.tomeentry
{
  -webkit-animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

.tomeentry .tomeentryname
{
  background-color: #222222;
  border-color: #222222 !important;
}

.tomeentry .tomeentryname a
{
  color: white;
  font-weight: bold;
  display: block;
}

.tomeentry .tomeentryname a:target
{
  color: #FB804F;
  font-weight: bolder;
  -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1 both;
  animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1 both;
}

 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.tomeentry .tomeentrycontent
{
  border-color: #222222 !important;
}

.tomeentry .tomeentrycontent a
{
  font-weight: bold;
  color: #222222;
}

.searchbar .wrapper
{
  background-color: #FFFFAA;
}

.searchbar .searchinput
{
  width: 100%;
}
.searchbar .searchicon
{
  width: 24px;
  height: 24px;
  background-color: #FFFFAA;
}

.searchbar .searchinput input
{
  background-color: #FFFFAA;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  border: none;
}